* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
   font-family: 'Roboto';
}
.bolder{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 25px;
}
#space{
    padding: 1px;
}
.img-bg{
    width: 100vw;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.185)), url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg)  no-repeat center center fixed;
    background-size: cover;
}
.on-top{
    position: absolute;
    top: 100px;
}
.outer{
    width: 100%;
    height: 100%;
    background-color:transparent;
    display: grid;
    place-items: center;
    position: sticky;
}
.inner{
    width: auto;
    height: auto;
    background-color: transparent;
    color: white;
    margin: 10px;
}
#landing-pg-txt{
    margin-top: 40px;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 0px;
}
#logo{
    margin-top: 20px;
}
.landing-pg-p{
    font-size: 15px;
}
.mouse{
    margin-bottom: 30px;
    
       bottom: 0;
}
.about-us{
    width: 100vw;
    height: 100vh;
    background: whitesmoke;

}
.outer1{
    width: 100%;
    height: 100%;
    background: transparent;
    display: grid;
    flex-wrap: wrap;
   
    
}
.inner1{
    flex: 1 0 150px;
    margin: 5px;
    background:transparent;
    height: 20%;
    color: black;
}
.inner1-two{ 
    margin-bottom: 0px;
    height: 400px;
    color: white;
    background:linear-gradient(rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.185)), url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg) fixed no-repeat top center;
    background-size: cover; 
    top: auto;  
}
.parallax-bg{
    width: 100%;
    height: 100%;  
}
@media only screen and (max-width:768px){

}


