* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
   font-family: 'Roboto';
}
.bold{
    font-weight: bold;
}
.bolder-header{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}
#space{
    padding: 1px;
}
.img-bg{
    width: auto;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.185)), url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg)  no-repeat center center fixed;
    background-size: cover;
}
.on-top{
    position: absolute;
    top: 100px;
}
.outer{
    min-width: 100%;
    height: 100%;
    background-color:transparent;
    display: grid;
    place-items: center;
}
.inner{
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
    margin: 10px;
}
#landing-pg-txt{
    margin-top: 40px;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 0px;
}
#logo{
    margin-top: 20px;
}
.landing-pg-p{
    font-size: 15px;
}
.mouse{
    margin-bottom: 30px;
    
       bottom: 0;
}
.about-us{
    width: auto;
    height:auto;
    background: whitesmoke;

}
.lighter{
    font-weight:lighter ;
}
.outer1{
    width: 100%;
    height: 100%;
    background: transparent;
    display: grid;
    flex-wrap: wrap;  
}
.inner1{
    flex: 1 1 150px;
    margin: 5px;
    background:transparent;
    height: 20%;
    color: black;
    width: 100%;
}
.outer2{
    width: 100%;
    height: auto;
    background: transparent;
    display: grid;
    place-items:center; 
}
.inner2{
    margin-bottom: 10px;
    background:transparent;
    height: auto;
    color: black;
    width: 60%;
}
.inner1-two{ 
    margin-bottom: 0px;
    height: 400px;
    color: white;
    background:linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.37)), url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg) fixed no-repeat top center;
    background-size: cover; 
    top: auto; 
}
.inner1-three{ 
    margin-bottom: 0px;
    height: 100%;
    color: white;
    background:linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.37)), url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg)fixed no-repeat top center;
    background-size: cover;
}
#about-txt{
    color: black;
}
.portfolio{
    width: auto;
    height: auto;
    background:whitesmoke;
}
.color-white{
    color: white;
}
.color-black{
    color: black;
}
.toggle-sec{
    width: 100%;
    height: 100%;
    background:transparent;
    display: flex;
    flex-wrap: wrap; 
}
.service-icons{
    flex: 1 1 250px;
    margin: 5px;
    background:transparent;
    height: auto;
    color: black;
}
#design-descr{
    display: none;
}
#dev-descr{
    display: none;
}
#prod-descr{
    display: none;
}
.press{
    background: transparent;
}
.portfolio-imgs{
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
}
.line-1{
    flex: 1 1 500px;
    margin-left: 50px;
    background:transparent;
    height: auto;
    color: black;
}
.line-2{
    flex: 1 1 auto;
    margin: 5px;
    background:transparent;
    height: auto;
    color: black;
}
.work8{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work8.jpg)center  ;
    background-size:cover ;
}
.work7{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work7.jpg)center  ;
    background-size:cover ;
}
.work6{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work6.jpg)center  ;
    background-size:cover ;
}
.work5{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work5.jpg)center  ;
    background-size:cover ;
}
.work4{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work4.jpg)center  ;
    background-size:cover ;
}
.work3{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work3.jpg)center  ;
    background-size:cover ;
}
.work2{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work2.jpg)center  ;
    background-size:cover ;
}
.work1{
    width: 170px;
    height: 150px;
    background:url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/portfolio/work1.jpg)center  ;
    background-size:cover ;
}
.contact-us{
    width: auto;
    height: auto;
}
.work4-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));    
}
.box{
    width: 80%;
    height: 80%;
    margin-left: 20px;
    background: transparent;
    border: white 2px solid;
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Righteous';
}
.work3-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));    
}
.work2-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));     
}
.work1-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));    
}
.work5-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));     
}
.work6-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));    
}
.work7-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));    
}
.work8-cont{
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.671));     
}
.contact-us{
    width: auto;
    height: auto;
    background:whitesmoke;
}
.input-ui{
    font-size: 20px;
    background: transparent;
    margin-top: 30px;
    margin-left: 50px;
    width: 80%;
    border: white 1px solid;
}
.text-area-ui{
    font-size: 20px;
    background: transparent;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 0px;
    width: 80%;
    height: 100px;
    border: white 1px solid;
}
.form{
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    color: white;
}
.footer{
    width: auto;
    height: auto;
    background: whitesmoke;
}
.icons{
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
}
.footer-txt{
    font-size: 20px;
}
@media only screen and (max-width:768px){

}


